body{
  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


p{
    display:inline-block;
    width: 400px;
}

header{
    background-color: #3394A5;
    color: #E6F7FA;
    text-align: center;
    padding:16px;
   
}

#idsection{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.informacion{
    color:#E6F7FA;
    background:#00CCF0;
    padding: 10px;
}

h2{
    text-align: center;
    width: 400px;
    font-weight: 700px;
    display: inline-block;
    
}

h3{
    font-size: 36px;
    font-weight: 700;
}

dt{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 33px;
}

li{
    padding: 5px;
}

img{
    display: inline-block;
    width: 25%;
    border-radius: 50px;
}